<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 50px;
        }
        h1 {
            text-align: left;
        }
        p {
            line-height: 1.6;
        }
    </style>
</head>
<body>
    <h1> Terms and Conditions</h1>
    <p>
        Welcome to <b>My Blogging Platform</b>. By using our services, you agree to abide by the folllowing terms and conditions. PLease read them carefully.
    </p>

    <p>
        1. Terms and condition 1.
    </p>

    <p>
        2. Terms and condition 2.
    </p>

    <p>
        3. Terms and condition 3.
    </p>

    <p>
        4. Terms and condition 4.
    </p>

    <p>
        By clicking 'I agree' and using our services, you acknowledge that you have read, understood, and agree to these terms and conditions.
    </p>
</body>
</html>